 body {
  margin: 0;
} 

form {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #1e88e5;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1565c0;
}

#message {
  margin-top: 10px;
  color: red;
  text-align: center;
}
header{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  
  
}
.logo{
  font-size: 24px;
  font-weight: bold;
  color: rgb(36, 108, 108);
}
.auth-links{
  display: flex;
  gap: 15px;
  padding: 40px;
  font-size: 30px;
}
.a{
  text-decoration: none;
  background-color: coral;
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: white;
}
.hero-h1{
  margin-top: 100px;
  text-align: center;
  font-size: 80px;

  /* width: fit-content; */
  height: 50px;
  border-radius: 10px;
  padding: 10px;

}
span{
  color: coral;
}
.hero-p{
  text-align: center;
  font-size: 35px;
  margin-top: 130px;
}
.btn {
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.cta-button {
  background-color: coral;
  border-radius: 8px;
  margin-top: 20px; 
  width: 200px;
  height: 60px;
  font-size: 25px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontal center */
  justify-content: center; /* vertical center (optional) */
  text-align: center;
}
.span2{
 font-size: 20px;
}
.john-link{

  color: coral;
  font-size: 20px;
}
span3{
  font-size: 30px;
}